# Environment
.env
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/

# IDE
.idea/

# Database
*.db

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
*.vsix
out/

# W&B
wandb/
